DATABASE_URL=mssql+pyodbc://@localhost\\SQLEXPRESS/DART?driver=ODBC+Driver+18+for+SQL+Server&trusted_connection=yes&Encrypt=yes&TrustServerCertificate=yes
JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
DOCUMENT_ROOT=
OCR_SERVICE_URL=
OCR_SERVICE_TIMEOUT=30
